*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}

img#hero{
    width: 200px;
    border-radius: 50%;
    margin: 15px 0px 15px 0px;
}

h1#hero{
    color: gray;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

nav{
    background-color: orangered;
    height: 50px;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
    align-items: center;
    height: 50px;
}

nav ul li a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul li a:hover{
    color: yellow;
}

h1#hero:hover{
    color: blue;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: black;
}

h5#footer{
    color: white;
}

section#conquistas{
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
    align-items: center;
}

section#conquistas div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

section#conquistas div img{
    width: 250px;
    height: 250px;
}


